<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
    </head>
    <body>

        <table class="layui-table"></table>
        <thead>
            <th>编号</th>
            <th>用户名</th>
            <th>密码</th>
        </thead>
        <tbody>
            <tr th:each="">

            </tr>
        </tbody>
    </body>
</html>