<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
    </head>
    <body>

        <table class="layui-table">

            <thead>
                <th>编号</th>
                <th>用户名</th>
                <th>密码</th>
                <th>操作</th>
                <th>删除</th>
            </thead>
            <tbody>
                <tr th:each="i:${info.list}">
                    <td th:text="${i.userId}"></td>
                    <td th:text="${i.userName}"></td>
                    <td th:text="${i.userPwd}"></td>
                    <td>
                        <button class="layui-btn layui-btn-normal" type="button" onclick="update(this)">修改</button>
                    </td>
                    <td>
                        <button class="layui-btn layui-btn-normal" type="button" onclick="delUser(this)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="layui-btn layui-btn-normal" th:href="@{/user/list(page=${info.pre})}" >上一页</a>
            <a class="layui-btn layui-btn-normal" th:href="@{/user/list(page=${info.next})}" >下一页</a>
            一共有<span th:text="${info.total}"></span>条数据
            一共有<span th:text="${info.totalPage}"></span>页
            当前第<span th:text="${info.cur}"></span>页
        </div>
    </body>
</html>


<script>

    //打开修改页面的方法
    function update(obj){
        //获取当前选中行的userId值
        var id = $(obj).parent().parent().find("td").eq(0).text();
        //打开弹窗
        x_admin_show("修改","/user/editPage?userId="+id,500,400);
    }



    //删除数据
    function delUser(obj){
        //获取当前选中行的userId值
        var id = $(obj).parent().parent().find("td").eq(0).text();
        //layui的提示框：用提示框确定用户是否删除
        layer.confirm("你确定要删除吗？",{icon:3,title:"警告"},function (index){
            $.ajax({
                url:"/user/del",
                type:"get",
                data:{"userId":id},
                dataType:"json",
                success:function (data){
                    layer.alert(data.info)
                    if (data.info=="删除成功"){
                        //第一种：刷新
                         parent.window.location.href=parent.window.location.href;
                        //
                        // //第二种
                        // $(obj).parent().parent().remove();
                    }
                }
            })
        })
    }
</script>